<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
  integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
  crossorigin="anonymous"
/>
       
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>                 


<link
  href="https://fonts.googleapis.com/css?family=Poppins:200i,300,400&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css?family=Raleway:700&display=swap"
  rel="stylesheet"
/>


<footer class=" text-center text-white container-fluid flex-grow-0 flex-shrink-1" style="color: #000000">
  <!-- Grid container -->
  <div class="container p-4 pb-0 " style="height: 75px" >
    <!-- Section: Social media -->
    <section class="mb-4 text-white">
      <!-- Facebook -->
      <a
      href="https://www.linkedin.com/in/augustoramonfavre/"
      target="_blank"
      class="btn btn-lg contact-details text-light"
      
      >
      <i class='fa fa-linkedin-square'></i> LinkedIn</a
    >

      

      <!-- Google -->
      <a href="mailto:augustofavrearg@gmail.com" class="btn btn-lg contact-details text-light"
      ><i class="fas fa-at"></i> Send a mail</a
    >

      <!-- Instagram -->
      <a href="tel:+54-3446-633420" class="btn btn-lg contact-details text-light"
      ><i class="fas fa-mobile-alt"></i> Call me</a
    >

      

      <!-- Github -->
      <a
      id="profile-link"
      href="https://github.com/augustofavrearg"
      target="_blank"
      class="btn btn-lg contact-details text-light"
      ><i class="fab fa-github"></i> GitHub</a
    >
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div></div>
    © 2022 
    <a class="text-white" href="https://mdbootstrap.com/"></a>
  </div></div>
  <!-- Copyright -->
</footer>
  