{%load static%}

<nav class="navbar navbar-expand-lg navbar-dark bg-black" style="background-color: rgb(19, 15, 15);">
  <div class="container">
    <a class="navbar-brand fw-bold fst-italic" style="font-size:x-large" href="/">Augusto Ramón Favre</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse align-item-right" id="navbarText" style="align-items: center;">
      <ul class="navbar-nav me-auto mb-2 ms-auto mb-lg-0 align-item-right" style="text-align: center;">
        <li class="nav-item">
          <a class="nav-link active" style="font-size:x-large" href="/" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item  flex-fill">
          <a class="nav-link" style="font-size:x-large;" href="/blog">Blog</a>
        </li>
        
      </ul>
      
        <ul class="navbar-nav me-auto mb-2 ms-auto mb-lg-0" style="align-items: right;">
          <li class="nav-item d-flex align-item-right">
            <button type="button" class="btn btn-primary btn-lg btn-block"
             
              href="{% static 'portfolio/CV Favre Augusto Ramón (3).pdf' %}" 
              target="_blank">Descargar CV</button>
          </li>
        </ul>

      </div>
      <span class="navbar-text">
        
      </span>
    </div>
  </div>
</nav> 